<h2>Log In</h2>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username  %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.submit "Login",  class: "wave-effect waves-light btn" %>
<% end  %>
