<h2>Art Index</h2>

<div class="grid">
  <% @items.each do |item|  %>
  <div class="grid-item">
    <div class="card">
      <a href="/items/<%= item.id %>" class="card-image">
        <%= image_tag item.image_path %>
      </a>
      <div class="card-action">
        <span class="card-title"><a class="black-text title-links" href="/items/<%= item.id %>"><%= item.title %></a></span>
        <%= button_to "Add to Cart", cart_items_path(item_id: item.id), class: "btn waves-effect waves-light" %>
      </div>
    </div>
  </div>

  <% end %>
</div>
