<div class="row">
  <div class="col m6 s12">
    <%= image_tag @item.image_path %>
  </div>
  <div class="col m6 s12">
    <h4><%= @item.title %></h4> <br> by <br>
    <h5><%= @item.user.first_name %> <%= @item.user.last_name %></h5>
    <p>
      <%= @item.price %>
    </p>
    <p>
      <%= @item.description %>
    </p>
    <p>
      Status: <%= @item.status %>
    </p>
    <%= button_to "Add to Cart", cart_items_path(item_id: @item.id), class: "btn waves-effect waves-light" %>
    <br>
    <%= link_to "Edit", edit_admin_item_path(@item), class: "btn waves-effect waves-light"%>
  </div>
</div>
