<%= form_for @user, :html => {class: "profile_form"} do |f| %>
  <%= render partial: 'shared/errors', locals: {target: @user} %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>

  <div class="row">
    <% if current_artist? %>
    <%= f.label "Upload Profile Picture" %>
    <br><br>
    <%= f.file_field :file_upload, class: "upload_file grey-text" %>
    <% end %>
  </div>

  <%= f.label :email_address %>
  <%= f.text_field :email_address %>
  <br>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %>
  <br>

  <%= f.label :city %>
  <%= f.text_field :city %>
  <br>

  <%= f.label :state %>
  <%= f.select(:state, options_for_select(us_states, "MN")) %>
  <br>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>
  <br>

  <% unless current_user %>
    <%= f.label :username %>
    <%= f.text_field :username  %>
  <% end %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>

  <% if current_admin? %>
    <%= f.label :role %>
    <%= f.select :role, options_for_select(["default", "artist", "admin"], selected: "admin") %>
    <br>
  <% elsif current_artist? %>
    <%= f.label :role %>
    <%= f.select :role, options_for_select(["artist"], selected: "artist") %>
    <br>
  <% elsif current_user %>
    <%= f.label :role %>
    <%= f.select :role, options_for_select(["default", "artist"], selected: current_user.role) %>
    <br>
  <% else %>
    <%= f.label :role %>
    <%= f.select :role, options_for_select(["default", "artist"]) %>
    <br>
  <% end %>

  <%= f.submit class: "wave-effect waves-light btn" %>
<% end  %>
