<h2>Create a New Account</h2>
<%= form_for(@user) do |f| %>
  <%= render partial: 'shared/errors', locals: {target: @user} %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :username %>
  <%= f.text_field :username  %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Create Account",  class: "wave-effect waves-light btn" %>
<% end  %>
