<h2><%= current_user.first_name %>'s Profile</h2>

<h5><%= link_to "View Past Orders", user_orders_path(current_user) %></h5>

<% if current_artist? %>
  <h5><%= link_to "View My Items", artist_path(current_user) %></h5>
  <h5><%= link_to "Add New Item", new_user_item_path(current_user) %></h5>
<% end %>

<%= render partial: "shared/user_info" %>
