<div class="grid-item">
  <div class="card" id="item_<%= item.id %>">
    <a href="/items/<%= item.id %>" class="card-image">
      <%= image_tag item.image_path %>
    </a>
    <div class="card-action">
      <span class="card-title"><a class="black-text title-links" href="/items/<%= item.id %>"><%= item.title %></a></span>
      <% if item.status == "active" %>
        <%= button_to "Add to Cart", cart_items_path(item_id: item.id), class: "btn waves-effect waves-light" %>
      <% else %>
        <p class="red-text">This item is currently out of stock.</p>
      <% end %>

      <% if current_admin? %>
        <%= link_to "Edit", edit_admin_item_path(item), class: "btn waves-effect waves-light" %>
        <%= link_to "Delete", admin_item_path(item), method: :delete,  class: "btn waves-effect waves-light"%>

        <% if item.active? %>
          <h5 class="light-green-text text-accent-4">Status: <%= item.status %></h5>
        <% else %>
          <h5 class="grey-text">Status: <%= item.status %></h5>
        <% end %>

      <% elsif current_artist? && artist_owns_item?(item) %>
        <%= link_to "Edit", edit_user_item_path(current_user, item), class: "btn waves-effect waves-light" %>
        <%= link_to "Delete", item_path(item), method: :delete,  class: "btn waves-effect waves-light"%>

        <% if item.active? %>
          <h5 class="light-green-text text-accent-4">Status: <%= item.status %></h5>
        <% else %>
          <h5 class="grey-text">Status: <%= item.status %></h5>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
