<div class="row">
  <div class="col m6 s12">
    <%= image_tag @item.image_path %>
  </div>
  <div class="col m6 s12">
    <h4><%= @item.title %></h4> by <br>
    <h5><%= @item.user.full_name %></h5>
    <p>$<%= @item.price %></p>
    <p><%= @item.description %></p>

    <% if current_admin? %>
      <% if @item.active? %>
        <p class="light-green-text text-accent-4">Status: <%= @item.status %></p>
      <% else %>
        <p class="grey-text">Status: <%= @item.status %></p>
      <% end %>

      <br>
      <%= link_to "Edit", edit_admin_item_path(@item), class: "btn waves-effect waves-light light-blue darken-2"%>
      <%= link_to "Delete", admin_item_path(@item), method: :delete,  class: "btn waves-effect waves-light red darken-4"%>

    <% elsif current_artist? && artist_owns_item?(@item) %>
      <% if @item.active? %>
        <p class="light-green-text text-accent-4">Status: <%= @item.status %></p>
      <% else %>
        <p class="grey-text">Status: <%= @item.status %></p>
      <% end %>

      <br>
      <%= link_to "Edit", edit_user_item_path(current_user, @item), class: "btn waves-effect waves-light light-blue darken-2"%>
      <br>
      <%= link_to "Delete", item_path(@item), method: :delete,  class: "btn waves-effect waves-light red darken-4"%>
    <% end %>

    <% if @item.active? %>
      <%= button_to "Add to Cart", cart_items_path(item_id: @item.id), class: "btn waves-effect waves-light" %>
    <% else %>
      <p class="red-text">This item is currently out of stock.</p>
    <% end %>
  </div>
</div>
