<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <% if current_artist? %>
          <% if current_user.file_upload %>
            <%= image_tag current_user.file_upload.url(:medium) %>
          <% end %>
        <% end %>
        <h3><%= current_user.full_name %></h3>
        <table class="larger-text">
          <tr>
            <td>
              <strong>Username:</strong>
            </td>
            <td>
              <%= current_user.username %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Email: </strong>
            </td>
            <td>
              <%= current_user.email_address %>
            </td>
          </tr>
          <tr>
            <td>
                <strong>Address: </strong>
            </td>
            <td>
              <%= current_user.street_address %>
              <br>
              <%= current_user.city %>, <%= current_user.state %> <%= current_user.zipcode %>
            </td>
          </tr>
        </table>
      </div>
      <div class="card-action">
        <%= link_to "Edit Info", edit_user_path(current_user), class: "btn waves-effect waves-light" %>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-action user_action_links">
        <div class="action_box"><%= link_to "View Past Orders", user_orders_path(current_user.slug) %></div>

        <% if current_admin? %>
          <div class="action_box"><%= link_to "Create Item", new_admin_item_path %></div>
          <div class="action_box"><%= link_to "View Items", admin_items_path %></div>
          <div class="action_box"><%= link_to "View Orders", admin_orders_path %></div>
        <% elsif current_artist? %>
          <div class="action_box"><%= link_to "View My Items", artist_path(current_user) %></div>
          <div class="action_box"><%= link_to "Add New Item", new_user_item_path(current_user) %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
