<% @orders.each do |order| %>
  <div class="card">
    <div class="card-action">
      <h3><%= order.id %></h3>
      <h3><%= order.date %></h3>
      <h3>Total: <%= order.total %></h3>
    </div>
    <div class="items">
      <% order.items.each do |item| %>
        <%= image_tag item.image_path %>
        <%= item.title %>
        Price: <%= item.price %>
      <% end %>
    </div>
  </div>
<% end %>
