<% @orders.each do |order| %>
  <div class="card">
    <div class="card-action">
      <h3><%=link_to "Order ID: #{order.id}", order_path(order)%></h3>
      <h5>Date Ordered: <%= order.date %></h5>
      <h5>Total: <%= order.total %></h5>
    </div>
    <div class="items">
      <% order.items.each do |item| %>
        <%= image_tag item.image_path %>
        <%= item.title %>
        Price: <%= item.price %>
        Quantity: <%= order.quantity_of_item(item.id) %>
      <% end %>
    </div>
  </div>
<% end %>
