<div class="row">
  <div class="col m4 s12">
    <% if item.file_upload_file_name.nil? %>
      <%= image_tag item.image_path, class: 'img-small' %>
    <% elsif item.file_upload_file_name %>
      <%= image_tag item.file_upload.url(:medium) %>
    <% end %>
  </div>
  <div class="col m8 s12 left-align">
    <h5>
      <%= item.title %> by <%= item.user.first_name %> <%= item.user.last_name %>
    </h5>

    <p><%= item.description %></p>

    <div class="row">
      <div class="col s6">
        <%= form_tag cart_item_path(item, quantity), :method => :put do |f| %>
          <%= label_tag :quantity %>
          <%= text_field_tag :quantity, quantity %>
          <%= submit_tag "Update", :class=> "waves-effect waves-light btn"%>
        <% end %>
      </div>

      <div class="col s6">
        <br>
        <div>Price: $<%= item.price %></div>
        <div><strong>Subtotal: $<%= quantity * item.price  %></strong></div>
      </div>
    </div>

    <%= link_to "Remove", cart_item_path(item), :class=> "waves-effect waves-light btn red darken-4 center-align remove-item-button", method: :delete %>


    <br>
  </div>
</div>
