<% @items_with_quantities.each do |item, quantity| %>
  <%= render partial: 'item', locals: { item: item, quantity: quantity } %>
<% end %>

<h3>Total: $<%= @total %></h3>

<div class="row">
  <% if current_user %>
    <%= form_tag user_orders_path(current_user), id: 'stripe-form' do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Art from Rough Sketch"
              data-amount="<%= @total * 100 %>"
              data-locale="auto"></script>

      <button class="waves-effect waves-light btn" id="checkout">Checkout</button>
    <% end %>
  <% else %>
    <%= button_to "Checkout", login_path, method: :get, :class=> "waves-effect waves-light btn" %>
  <% end %>
</div>
