<nav>
  <div class="nav-wrapper blue-grey" >
    <%= link_to "RoughSketch", root_path, class: "brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- DESKTOP NAV -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <% if current_admin? %>
        <li class="right-align">
          <%= link_to "Logged in as #{current_user.first_name} (admin)", admin_dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% elsif current_artist? %>
        <li class="right-align">
          <%= link_to "Logged in as #{current_user.first_name} (artist)", admin_dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% elsif current_user %>
        <li class="right-align">
          <%= link_to "Logged in as #{current_user.first_name}", dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% end %>

      <li>
        <a href="/cart" id="shopping_cart">
          <i class="material-icons left">shopping_cart</i>
          <span><%= @cart.count %></span>
        </a>
      </li>

      <% if session[:user_id] %>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>

      <% if current_admin? %>
        <li><%= link_to "View All Items", admin_items_path %></li>
        <li><%= link_to "Browse by Artist", artists_path %></li>
        <li><%= link_to "Browse by Category", categories_path %></li>
      <% else %>
        <li><%= link_to "View All Items", items_path %></li>
        <li><%= link_to "Browse by Artist", artists_path %></li>
        <li><%= link_to "Browse by Category", categories_path %></li>
      <% end %>
    </ul>

    <!-- MOBILE NAV -->
    <ul class="side-nav" id="mobile-demo">
      <li><strong><%= link_to "RoughSketch", root_path %></strong></li>

      <% if current_admin? %>
        <li><%= link_to "View All Items", admin_items_path %></li>
        <li><%= link_to "Browse by Artist", artists_path %></li>
        <li><%= link_to "Browse by Category", categories_path %></li>
      <% else %>
        <li><%= link_to "View All Items", items_path %></li>
        <li><%= link_to "Browse by Artist", artists_path %></li>
        <li><%= link_to "Browse by Category", categories_path %></li>
      <% end %>

      <li><%= link_to "View Cart", cart_path %></li>

      <% if current_admin? %>
        <li class="right-align">
          <%= link_to "Logged in as #{current_user.first_name} (admin)", admin_dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% elsif current_user %>
        <li class="right-align">
          <%= link_to "Logged in as #{current_user.first_name}", dashboard_path(current_user.slug) , class: "login_confirm"%>
        </li>
      <% end %>

      <% if session[:user_id] %>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
