<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <%= image_tag('bg2.jpg') %>
      <div class="caption">
        <%= render partial: "layouts/home_content" %>
      </div>
    </li>
    <li>
      <%= image_tag('bg1.jpg') %>
      <div class="caption">
        <%= render partial: "layouts/home_content" %>
      </div>    </li>
    <li>
      <%= image_tag('bg4.jpg') %>
      <div class="caption">
        <%= render partial: "layouts/home_content" %>
      </div>    </li>
  </ul>
</div>
